:root {
    --green: rgba(29, 70, 60, 0.575);
    --lightYellow: rgba(235, 235, 116, 0.986);
}

.input-box {
    text-align: center;
}

table, td, th {
    border: 1px solid var(--green);
    border-radius: 8px;
    text-align: center;
}

thead, tfoot {
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;

}


#scrCrdHlNbr {
    width: 4%;
    background-color: var(--lightYellow);
    text-align: center;
}


#display-legend {
    width: 9%;
    text-align: right;
}

.button {
    color: var(--green);
    background-color: var(--lightYellow);
    border-color: rgba(50, 153, 91, 0.356);
    width: fit-content;
    border-radius: 8px;
    margin: 10px;
}
